@import "~bootstrap/scss/bootstrap";

body {
  background-color: azure;
  color: #333; }

header .container {
  max-width: 90%;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 15px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }

a:visited {
  color: #666; }

a:hover {
  color: rgb(33, 96, 179);
  text-decoration: none; }

th,td { 
  padding-bottom: 5px; 
  padding-right: 10px;}

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  margin-bottom: 3px;
  color: #c00;
  border-radius: 2px;
  display: table; }

.field_with_errors input {
  border: 1px solid #c00;
  border-radius: 2px; }

#error_explanation {
  width: 450px;
  border: 1px solid #c00;
  padding: 5px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border-radius: 2px; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -5px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }
