@import "~bootstrap/scss/bootstrap";
@import 'styles';

body {
  background-color: #e4f7ec;
}

a:hover {
  color: #5135f0;
}

thead {
  background-color: rgb(178, 245, 223);
  
}
th, td{
   padding-right: 10px;
   margin-right: 10px;
 }

.field {
  display: flex;
  justify-content: space-between;
  max-width: 360px;
}

select {
  max-width: 200px;
  padding: 4px
}
